<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP-4-1</title>
    <style></style>
    <link rel="stylesheet" href="http-4-1.css">
    <link rel="stylesheet" href="http-4-1/fonts/glyphicons-halflings-regular.eot">
    <link rel="stylesheet" href="http-4-1/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="http-4-1/fonts/glyphicons-halflings-regular.ttf">
    <link rel="stylesheet" href="http-4-1/fonts/glyphicons-halflings-regular.woff">
    <link rel="stylesheet" href="http-4-1/fonts/glyphicons-halflings-regular.woff2">
    <script type = 'text/javascript' src = '/lib/jquery.js'></script>
    <script src="http-4-1.js"></script>
</head>
<body style="padding-left: 10px;">
<h3 id="show-green">验证不保护的静态资源的请求/响应头不会被更改</h3>
<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>

<h4>本页面验证资源类型:</h4>
<ul>
    <li>css</li>
    <li>eot</li>
    <li>svg</li>
    <li>ttf</li>
    <li>woff</li>
    <li>woff2</li>
</ul>

</body>
</html>