<!DOCTYPE html>
<html>
<head>
<title>状态码反馈</title>
</head>
<body>
<h1>Welcome to 狴犴(bì àn)</h1>
<p> 狴犴(bì àn) Web Framework Testing Target Site</p>
<p><em><%= statusCode %> 了哈～</em></p>
</body>
</html>
