<header>
        <img ng-src = "/logo_bi-an.png" style = "float:left ;display: inline; background-color: #ca4d37; height: 54px"/>
        <h1 class="navbar-brand">狴犴(bì àn) Web Framework Testing Target Site</h1>
</header>

<nav>
        <ul class = "nav nav-pills">
                <li class = 'active'><a href = 'NGJS'>AngularJS</a></li>
                <li><a href = 'NG'>Angular</a></li>
                <li><a href = 'React'>React</a></li>
                <li><a href = 'Vue'>Vue</a></li>
        </ul>
        
</nav>