<!DOCTYPE html>
<html ng-app = 'NGJS4'>
    <head>
        <script type = "text/javascript" src = 'angular.min.js'></script>
        <script type = "text/javascript" src = "../angular-route.js"></script>	
        <script type = "text/javascript" src = "../ngprogress.js"></script>
        <script type = 'text/javascript' src = '../ngjsApp4.js'></script>
    </head>
    <body>
        <p>this page runs fine without RAS. But this Angular App would break if it is run under power protection</p>
    </body>
</html>