<!DOCTYPE html>

<html ng-app="test">
	<head>
		<script type = "text/javascript" src = "../angular.min.js"></script>
		<script type = "text/javascript" src = "../ngjsApp.js"></script>	
		<link rel="stylesheet" href="bootstrap.min.css">	
		<link rel="stylesheet" type = 'text/css' href="rsLayout.css">				
		<link rel="stylesheet" type = 'text/css' href="rsCommon.css">
		<link rel="stylesheet" type = 'text/css' href="caseStyle.css">
	</head>
	<body>
		<common-header></common-header>
		<hr>
		<div>
			<h2 class = "panel-heading">Testcase# NGJS-1 ngModel: Two-Way Data Binding</h2>
			<div class="panel-body">
				<label>Name:</label>
				<input type = "text" ng-model="world" placeholder="Enter a name here" class="form-control">
				<p class = 'ExecutionResult'>Hello {{world}}!</p>
				<label>Relative URL:</label>
				<input type = "text" ng-model="url" placeholder="please enter NG here" class="form-control">
				<p class = 'ExecutionResult'><a href = {{url}} >Dynamically Generated Url: </a>Request URL: /{{url}} </p>
			</div>
		</div>
		<hr>
		<div ng-controller = "AddruleController as ubbrules">
			<h2 class = "panel-heading">Testcase# NGJS-2 ngBind</h2>
			<p class="panel-body">Bind ng var to HTML element</p>
			<div class="panel-body" ng-repeat = 'rule in ubbrules.rules'>
				<h4>ruleid: {{rule.rule_id}}</h4>
				<ul class = "list-group">
					<li><p>enabled: {{rule.enabled}}</p></li>
					<li><p>action: {{rule.action}}</p></li>
					<li><p>action: {{rule.condition}}</p></li>
				</ul>
			</div>

			<!-- Rule Form -->

			<section class="panel-body">
				<h4>Submit a Rule</h4>
				<form name = "ubbRuleForm" action = 'javascript:void(0)' ng-submit = 'ubbrules.addRule()'>
					<select class="form-control" ng-model = 'ubbrules.rule.action'>
						<option value = "">Choose the Action</option>
						<option value = "block">Block</option>
						<option value = "pass">Pass</option>
						<option value = "blank">Blank</option>
					</select>
					<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition'></textarea>
					<fieldset class="form-group">
						<input type = 'submit' value = 'Submit Rule By ngSubmit, action: javascript:void(0)' class="btn btn-primary pull-right"/>
					</fieldset>
				</form>
			</section>
			<section class="panel-body">
					<h4>Submit a Rule</h4>
					<form name = "ubbRuleForm" action = 'abc' ng-submit = 'ubbrules.addRule()'>
						<select class="form-control" ng-model = 'ubbrules.rule.action'>
							<option value = "">Choose the Action</option>
							<option value = "block">Block</option>
							<option value = "pass">Pass</option>
							<option value = "blank">Blank</option>
						</select>
						<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition'></textarea>
						<fieldset class="form-group">
							<input type = 'submit' value = 'Submit Rule By ngSubmit, action: abc(double-submission)' class="btn btn-primary pull-right"/>
						</fieldset>
					</form>
				</section>
			<section class="panel-body">
				<h4>Submit a Rule</h4>
				<form name = "ubbRuleForm" action = 'abc' Method = 'POST'>
					<select class="form-control" ng-model = 'ubbrules.rule.action' name = 'action'>
						<option value = "">Choose the Action</option>
						<option value = "block">Block</option>
						<option value = "pass">Pass</option>
						<option value = "blank">Blank</option>
					</select>
					<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition' name = 'condition'></textarea>
					<fieldset class="form-group">
						<input type = 'submit' value = 'Submit Rule By Default w/ Action' class="btn btn-primary pull-right"/>
					</fieldset>
				</form>
				</section>
			
				<section class="panel-body">
					<p class = 'learn-box'>AngularJS prevents the default action (form submission to the server) unless the form element has an action attribute specified.</p>
					<form name = "ubbRuleForm">
						<select class="form-control" ng-model = 'ubbrules.rule.action' name = 'action'>
							<option value = "">Choose the Action</option>
							<option value = "block">Block</option>
							<option value = "pass">Pass</option>
							<option value = "blank">Blank</option>
						</select>
						<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition' name = 'condition'></textarea>
						<fieldset class="form-group">
							<input type = 'submit' value = 'Submit Rule By Default w/o Action (no-submission)' class="btn btn-primary pull-right"/>
						</fieldset>
					</form>
					</section>

				<section class="panel-body">
					<h4>Submit a Rule</h4>
					<form name = "ubbRuleForm" action = 'abc' Method = 'POST' onSubmit = 'return true;'>
						<select class="form-control" ng-model = 'ubbrules.rule.action' name = 'action'>
							<option value = "">Choose the Action</option>
							<option value = "block">Block</option>
							<option value = "pass">Pass</option>
							<option value = "blank">Blank</option>
						</select>
						<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition' name = 'condition'></textarea>
						<fieldset class="form-group">
							<input type = 'submit' value = 'Submit Rule By onSubmit' class="btn btn-primary pull-right"/>
						</fieldset>
					</form>
				</section>

				<section class="panel-body">
					<h4>Submit a Rule(CRM-831, DAP-3270)</h4>
					<form name = "ubbRuleForm"  Method = 'POST'>
						<select class="form-control" ng-model = 'ubbrules.rule.action' name = 'action'>
							<option value = "">Choose the Action</option>
							<option value = "block">Block</option>
							<option value = "pass">Pass</option>
							<option value = "blank">Blank</option>
						</select>
						<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition' name = 'condition'></textarea>
						<fieldset class="form-group">
							<input type = 'submit' ng-click = 'ubbrules.addRule()' value = 'Submit Rule By ngClick w/o Action' class="btn btn-primary pull-right"/>
						</fieldset>
					</form>
				</section>

				<section class="panel-body">
						<h4>Submit a Rule(CRM-831, DAP-3270)</h4>
						<form name = "ubbRuleForm"  action = 'null' Method = 'POST'>
							<select class="form-control" ng-model = 'ubbrules.rule.action' name = 'action'>
								<option value = "">Choose the Action</option>
								<option value = "block">Block</option>
								<option value = "pass">Pass</option>
								<option value = "blank">Blank</option>
							</select>
							<textarea ng-model = 'ubbrules.rule.condition' class="form-control" placeholder = 'write a condition' name = 'condition'></textarea>
							<fieldset class="form-group">
								<input type = 'submit' ng-click = 'ubbrules.addRule()' value = 'Submit Rule By ngClick w/ Action (double-submission)' class="btn btn-primary pull-right"/>
							</fieldset>
						</form>
					</section>
		</div>
		<hr>
		
		<div ng-controller = "ubbApiController as ubbApi">
			<h2 class = "panel-heading">Testcase# NGJS-3 $http</h2>
			<div class="panel-body rs-asp-common-marginTop20">
				<button ng-click = "fetchUbbConf()" class="new-btn-info  rs-asp-button">Fetch UBB Conf</button>
				<table class="table table-bordered rs-asp-common-table">
					<thead>
						<tr>
							<th class = 'td-center'>enabled</th>
							<th class = 'td-center'>action</th>
							<th class = 'td-center'>condition</th>
							<th class = 'td-center'>description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = 'rule in ubbApi.rules' ng-show = 'rule.enabled'>
								<td class = 'td-center'>{{rule.enabled}}</td>
								<th class = 'td-center'>{{rule.action}}</th>
								<th class = 'td-center'>{{rule.condition}}</th>
								<th class = 'td-center'>{{rule.description}}</th>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</body>
</html>

