<!DOCTYPE html>
<html>
    <head>
        <% include ../head.html %>
        <script type = "text/javascript" src = '/lib/vue.js'></script>
    </head>
    <body>
        <% include ../nav.html %>
        <div id = 'app'>
            <p>Describe: 'The Vue Instance'</p>
            <div data-case = 'vue-1'>
                <p>It: 'Attribute Binding'</p>
                <img v-bind:src = 'image' >
            </div>

            <div data-case = 'vue-2'>
                <p>It: 'Bind href = url'</p>
                <a v-bind:href = 'url'>redirect to angularjs site</a>
                <p>It: 'Bind href = 'url' shorthand</p>
                <a :href = 'url'>redirect to angularjs site</a>
             </div>

             <div data-case = 'vue-3'>
                <h1>{{ product }}</h1>
                <h2>I love my {{ product }}</h2>
                <P v-if = 'enabled'>Enabled</P>
                <p v-else>Disabled</p>
            </div>

            <div data-case = 'vue-4'>
                <ul>
                    <li v-for = 'rule in rules' :key = "rule.rule_id">
                        <p>{{ rule.name }}</p>
                        <p>{{ rule.enabled }}</p>
                        <p>{{ rule.action }}</p>
                        <p>{{ rule.rule_id }}</p>
                        <p>{{ rule.condition }}</p>
                    </li>
                </ul>
            </div> 

            <div data-case = 'vue-5'>
                <button v-on:click = "cart += 1">Add to Cart</button>
                <p>Cart({{cart}})</p>
            </div>

            <div data-case = 'vue-6'>
                <button v-on:click = "addToCart">Add to Cart</button>
                <p>Cart({{cart}})</p>
            </div>

            <div data-case = 'vue-7'>
                <ul>
                    <li v-for = 'topo in network' :key = 'topo.topology'>
                        <p @mouseover = "updateImage(topo.image)">{{ topo.topology }}</p>
                    </li>
                    <p>{{image}}</p>
                </ul>
                <img v-bind:src = 'image' >
            </div>

            <div data-case = 'vue-8'>
                <p>{{ title }}</p>
            </div>


        </div>
        <script type = "text/javascript" src = '/Vue/vueapp.js'></script>
    </body>
</html>