<!DOCTYPE html>
<html ng-app = 'NGJS4'>
    <head>
        <% include ../head.html %>
        <script type = "text/javascript" src = '/lib/angular.min.js'></script>
        <script type = "text/javascript" src = "/lib/angular-route.js"></script>	
        <script type = "text/javascript" src = "/lib/ngprogress.js"></script>
        <script type = 'text/javascript' src = '/NGJS/ngjsApp4.js'></script>
    </head>
    <body>
        <% include ../nav.html %>
        <p>this page runs fine without RAS. But this Angular App would break if it is run under power protection</p>
        <p ng-controller="testMarkup">{{AmIOK}}</p>
    </body>
</html>