<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class = 'container'>
        <% include ../partials/nav.html %>
        <% include ../partials/echo.ejs %>
        <hr>
        
        <div id = 'HTML-1-1' class = 'col-md-6 caseModule' zendao-case = ''>
            <h4>HTML-1-1<span class = 'caseID'></span>HTML标签陷阱</h4>
            <p>Describe: head/body 标签在注释中</p>
            <p>Expect: CoreJS插入位置应该忽略注释</p>
            <a href='Parse/HTML-1-1'>
                <button class="btn btn-default">HTML-1-1</button>
            </a>
        </div><hr>

    </body>
    <script type = "text/javascript" src = "/HTML/tSuite-5-Form.js"></script>
</html>