<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.html %>
    </head>
    <body class = 'container'>
        <% include ../partials/nav.html %>
        <% include ../partials/echo.ejs %>
        <hr>
        
        <div id = 'JS-2-1' class = 'col-md-6 caseModule' zendao-case = '3025'>
            <h4>JS-2-1<span class = 'caseID'></span>Ajax 跨域请求</h4>
            <p>Describe: 本用例使用jQuery API来实现Ajax请求</p>
            <p>Note: jQuery可以对使用者屏蔽不同浏览器的DOM接口差异。IE上通过禁用"Enable native XMLHTTP support"来禁用xhr从而触发ActiveX</p>
            <p>Expect: 使用下表自定义方法与路径，请求报文将回环显示于页面上方的井中</p>
            <form name = 'JS-2-1'>
                <div class="form-group form-inline">
                    <label class="col-form-label">HTTP Method</label>
                    <select name="httpMethod" class="form-control">
                        <option value="GET" selected="">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                        <option value="HEAD">HEAD</option>
                        <option value="OPTIONS">OPTIONS</option>
                    </select>
                </div>
                <label>请输入远程服务器的域名与路径</label>
                <table id="serverTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="td-center" style="width:80px;">协议</th>
                            <th class="td-center">IP</th>
                            <th class="td-center">端口</th>
                            <th class="td-center">路径</th>
                        </tr>
                    </thead>

                    <tbody id="upstreamServerList">
                        <tr>
                            <td class="td-center" style="width:92px;">
                                <select class="switchProtocolHttpOrHttps" name="upstream_protocol">
                                    <option value="http://" selected="">http://</option>
                                    <option value="https://">https://</option>
                                </select>
                            </td>
                            <td class="td-center" style="width:150px;">
                                <input type="text" name="upstream_ip" class="form-control" placeholder="服务器IP" value="10.10.68.90">
                            </td>
                            <td class="td-center" style="width:80px;">
                                <input type="text" name="upstream_port" class="form-control" placeholder="被保护服务器端口" value=":3000">
                            </td>
                            <td class="td-center">
                                <input type="text" name="relative_path" class="form-control" placeholder="/" value="/JS/Ajax/JS-2-1">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type = 'hidden' name = 'case' value = 'JS-2-1'/>
                <div class="form-group">
                    <button class = 'ajax btn btn-default'>JS-2-1 Ajax</button>
                </div>
            </form><br>
            <echo></echo>
        </div>


        <div id = 'JS-2-2' class = 'col-md-6 caseModule' zendao-case = '3025'>
            <h4>JS-2-2<span class = 'caseID'></span>Ajax 跨域请求</h4>
            <p>Describe: 本用例使用XMLHttpRequest/fetch对象来实现Ajax请求</p>
            <p>Describe: 选定ActiveXObject对象名后，将使用对应的对象生成IE上的AJAX请求</p>
            <p>Note: 同源请求，请使用相对路径<code>Ajax/JS-2-1</code></p>
            <p>Expect: 使用下表自定义方法与路径，请求报文将回环显示于页面上方的井中</p>
            <form name = 'JS-2-2'>
                <div class="form-group form-inline">
                    <label class="col-form-label">HTTP Method</label>
                    <select name="httpMethod" class="form-control">
                        <option value="GET" selected="">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                        <option value="HEAD">HEAD</option>
                        <option value="OPTIONS">OPTIONS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for = 'remoteAddress'>请输入远程服务器的域名与路径</label>
                    <input type = 'text'  name = 'remoteAddress' placeholder = "" value = 'http://10.10.68.90:3000/JS/Ajax/JS-2-1' class="form-control"/>
                </div>
                <input type = 'hidden' name = 'case' value = 'JS-2-2'/>
                <div class="form-group">
                    <button class = 'xhr btn btn-default' onclick='JS_2_2_xhr()'>JS-2-2 xhr</button>
                    <button class = 'fetch btn btn-default' onclick='JS_2_2_fetch()'>JS-2-2 fetch()</button>
                </div>
                <div class="form-group form-inline">
                    <label class="col-form-label">ActiveXObject</label>
                    <select name="ActiveX" class="form-control">
                        <option value="Microsoft.XMLHTTP" selected="">Microsoft.XMLHTTP</option>
                        <option value="Microsoft.XMLHTTP.1.0">Microsoft.XMLHTTP.1.0</option>
                        <option value="Msxml2.ServerXMLHTTP">Msxml2.ServerXMLHTTP</option>
                        <option value="Msxml2.ServerXMLHTTP.3.0">Msxml2.ServerXMLTTP.3.0</option>
                        <option value="Msxml2.ServerXMLHTTP.4.0">Msxml2.ServerXMLHTTP.4.0</option>
                        <option value="Msxml2.ServerXMLHTTP.5.0">Msxml2.ServerXMLHTTP.5.0</option>
                        <option value="Msxml2.ServerXMLHTTP.6.0">Msxml2.ServerXMLHTTP.6.0</option>
                        <option value="Msxml2.XMLHTTP.3.0">Msxml2.XMLHTTP.3.0</option>
                        <option value="Msxml2.XMLHTTP.4.0">Msxml2.XMLHTTP.4.0</option>
                        <option value="Msxml2.XMLHTTP.5.0">Msxml2.XMLHTTP.5.0</option>
                        <option value="Msxml2.XMLHTTP.6.0">Msxml2.XMLHTTP.6.0</option>
                    </select>
                    <button class = 'fetch btn btn-default' onclick='JS_2_2_ActiveX();'>JS-2-2 ActiveX()</button>
                </div>
                </form><br>
            </form>
            <echo></echo>
        </div><hr>

    </body>
    <script type = "text/javascript" src = "/JS/tSuite-2-Ajax.js"></script>
</html>